/* ------------------------------------------------------------------------------*/
/* Biography page
/* ------------------------------------------------------------------------------*/
.about-page{
  width: 100%;
  background-color: white;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .about-page{
  margin-top: 50px;
}}