/* Desktop view */
@media (min-width: 1200px){
.footer2 .row-footer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding-bottom: 3%;
  
}
.footer2 {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
}
.footer2 .footer-img2 {
  position: relative;
object-fit:contain;
  width: 30%;
  right:5px;
  bottom: 15px;
}

.footer2 .container-foot2{
  display: flex;
  width: 95%;
 align-items: center;
 padding-top: 5%;
 padding-left: 5%;
 padding-bottom: 10%;
}

.footer2 .footer-contact2 p{
  margin:2px;
}
}


@media (min-width:460px) and (max-width: 768px) {
.footer2 {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 12px;
  position: relative;
}
.footer2 .footer-img2 {
  position: relative;
object-fit:contain;
  width: 20%;
  right:5px;
  bottom: 15px;
}
.footer2 .footer-contact2 p{
  font-size: 12px;
  margin: 1px;
}
.footer2 .container-foot2{
  display: flex;
  width: 95%;
 align-items: center;
 padding-top: 5%;
 padding-left: 5%;
 padding-bottom: 10%;
}
}

/* phones view */

@media (min-width:300px) and (max-width:450px){
.footer2 {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 8px;
  position: relative;
}
.footer2 .footer-contact2 p{
  font-size: 8px;
  margin: 1px 0;
}
.footer2 .footer-img2 {
  position: relative;
object-fit:contain;
  width: 15%;
  right:5px;
  /* bottom: 15px; */
}

.footer2 .container-foot2{
  display: flex;
  width: 95%;
 align-items: center;
 padding-top: 3%;
 padding-left: 5%;
 padding-bottom: 10%;
}
}